out
build
.idea
cmake-build-debug
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.check_cache
**.verified_globs
**.yaml
**.depend
**.stamp
**.rule
**.recipe
**.tlog
CMakeFiles
cmake_install.cmake
CMakeCache.txt
*.vcx*
**Debug
logs/log.txt
